*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page{
    margin: 30px;
}
#cardsContainer{
    max-width: 50%;
    padding: 20px;
    border: 2px solid black;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}